.carousel {
  width: 100%;
  height: 85svh;
  background: #000;
  display: flex;
  align-items: center;
}

.carousel-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  height: 100%;
  width: max-content;

  animation: scroll 45s linear infinite;
  transform: translate3d(0,0,0);
  will-change: transform;
}

.carousel-item {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-item img {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: block;
  backface-visibility: hidden;
}

/* loop infinito limpio */
@keyframes scroll {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 60s;
  }
}
