.carousel-container {
  width: 100%;
  overflow: hidden; /* Oculta lo que sale de la pantalla */
  background-color: transparent; /* Opcional */
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-tracks {
  display: flex;
  width: 100%; /* Ajuste basado en el ancho de la imagen x total (10+10) */
  animation: scroll 20s linear infinite;
}

.carousel-slide {
  height: 700px;
  width: 450px; /* Ancho en móvil por defecto */
  flex-shrink: 0;
  padding: 0;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0px;
  object-fit: cover;
  box-shadow: none;
}

/* Animación para el movimiento infinito */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Se mueve exactamente la mitad del ancho total del track */
    transform: translateX(calc(-250px * 18));
  }
}

/* --- Responsive --- */

/* Computadoras y Pantallas Grandes */
@media (min-width: 1024px) {
  .carousel-slide {
    width: 550px; /* Imágenes más grandes en PC */
    height: 700px;
  }
  
  .carousel-tracks {
    width: 100%;
    animation: scroll-pc 25s linear infinite; /* Un poco más lento por ser más grande */
  }

  @keyframes scroll-pc {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-450px * 12.23)); }
  }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  .carousel-slide {
    width: 650px;
    height: 900px;
  }
  
  .carousel-tracks {
    width: 100%;
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-350px * 10)); }
  }
}