.carousel {
  width: 100%;
  height: 100svh;
  background: #000;
  display: flex;
  align-items: center;
}

/* 🔑 viewport NO animado */
.carousel-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* 🔥 SOLO este se anima */
.carousel-track {
  display: flex;
  height: 100%;
  width: max-content;

  animation: scroll 25s linear infinite;
  transform: translate3d(0,0,0);
}

/* items */
.carousel-item {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* imagen */
.carousel-item img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* animación */
@keyframes scroll {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 35s;
  }

  .carousel {
  height: 85svh;
}
}

