.invitation {
  width: 100%;
  background-color: #3c3d1a;

  display: flex;
  justify-content: center;

  padding: 3rem 2rem;
}

/* Wrapper general */
.invitation-card-wrapper {
  width: 100%;
  max-width: 1400px;

  display: flex;
  flex-direction: row;            /* 🔑 desktop: lado a lado */
  align-items: center;
  justify-content: center;
  gap: 0;
}

/* Carta principal */
.invitation-card {
  width: 100vw;
  max-width: 920px;
  min-width: 600px;

  height: auto;
  display: block;
  border-radius: 2px;
}

/* RSVP */
.invitation-rsvp {
  width: 15vw;
  max-width: 720px;
  min-width: 520px;

  height: auto;
  display: block;
  border-radius: 2px;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .invitation {
    padding: 2rem 1.5rem;
  }

  .invitation-card-wrapper {
    flex-direction: column;     /* 🔑 mobile: vertical */
   /* gap: 2.5rem;*/
  }

  .invitation-card {
    width: 288vw;
    max-width: 680px;
    min-width: unset;
  }

  .invitation-rsvp {
    width: 88vw;
    max-width: 360px;
    min-width: unset;
  }
}
